.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: var(--color-bg-gradient-dark);
  background: radial-gradient(
    at right bottom,
    var(--color-bg-gradient-dark),
    var(--color-bg-gradient-light)
  );
}

.bg .bg-layer {
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background setup */
  background-image: url("../img/bg-stars.png");
  background-position-y: 0px;
  image-rendering: pixelated;
}

@media (prefers-reduced-motion: no-preference) {
  .bg .bg-layer {
    transition: background-position-y 0s linear; /* offload to gpu */
  }
}

.bg .bg-layer.bg-layer-back {
  background-size: 1024px;
  background-position-x: -256px;
  opacity: 0.4;
}

.bg .bg-layer.bg-layer-front {
  background-size: 2048px;
  background-position-x: -128px;
  opacity: 0.8;
}

.bg .bg-layer.bg-layer-overlay {
  background: var(--color-bg-gradient-dark);
  background: linear-gradient(
    var(--color-bg-overlay-light),
    var(--color-bg-overlay-dark)
  );
}
