{{ define "main" }}
  <div class="post">
    <h1>{{ .Title }}</h1>
    {{ $creationDateMachine := .PublishDate | time.Format
      "2006-01-02T15:04:05-07:00"
    }}
    {{ $creationDateHuman := .PublishDate |
      time.Format "2006-01-02"
    }}
    {{ $updateDateMachine := .Lastmod | time.Format
      "2006-01-02T15:04:05-07:00"
    }}
    {{ $updateDateHuman := .Lastmod | time.Format
      "2006-01-02"
    }}
    <p class="post-date">
      Published on
      <time datetime="$creationDateMachine">{{ $creationDateHuman }}</time>
      {{ if
        not (eq $creationDateMachine $updateDateMachine)
      }}
        | Updated on
        <time datetime="$updateDateMachine">{{ $updateDateHuman }}</time>
      {{ end }}
    </p>
    {{ .Content }}
  </div>
{{ end }}
